@import url("https://fonts.googleapis.com/css?family=Hanken%20Grotesk:700|Hanken%20Grotesk:400");

:root {
    --text: #c5c5d1;
    --background: #191924;
    --secondary: #2b2234;
    --accent: #463854;
}