* {
    font-family : "Roboto", monospace;
    color       : white;
    outline     : none;
    margin      : 0;
    padding     : 0;
}

body {
    display          : flex;
    flex-direction   : column;
    width            : 100vw;
    height           : 100vh;
    justify-content  : center;
    align-items      : center;
    background-color : #201c24;
}

.calc-container {
    display     : flex;
    align-items : baseline;
    font-size   : 2em;
}

.answer-prompt {
    inline-size         : 6ch;
    margin-inline-start : 1ch;
    font-size           : inherit;
    background-color    : #1b1b1c;
    border              : 1px solid #787878;
}

.answer {
    position : absolute;
    top      : 5vh;
    right    : 5vw;
}

.options {
    position: absolute;
    top: 5vh;
    left: 10vw;
}

.options div {
    padding: 0.5em;
}

.options label {
    margin-left: 0.5em;
}