@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

* {
    font-family : "Handlee", cursive;
}

body {
    min-height      : 100vh;
    margin          : 0;
    padding         : 0;

    display         : flex;
    justify-content : center;
    align-items     : center;
}

#suggest-recipe-container {
    text-align : center;

    #generate-recipe {
        text-decoration  : none;
        color            : black;
        background-color : lightgray;
        padding          : 0.5em;
        border-radius    : 2em;

        &:hover {
            background-color : lightskyblue;
        }
    }
}

#generated-recipe-container {
    max-width    : 70vw;
    margin-block : 10vh;

    #recipe-overview {
        display : flex;
        gap     : 5%;

        #recipe-image {
            max-width : 40%;
        }
    }
}

#video-wrapper {
    display         : flex;
    justify-content : center;

    #video {
        aspect-ratio : 16 / 9;
        width        : 50%;
    }
}